<div class="container">
  <div class="pull-right">
    <%= search_form_for @q, html: { class: "form-inline" } do |f| %>
      <%= f.search_field :subject_or_comments_body_cont, placeholder: "Search...", class: "form-control" %>
    <% end %>
  </div>

  <div class="conversations">
    <%= render @conversations %>
  </div>
</div>
