
<div class="container">
  <div class="conversations">
    <h5 class="week">Today&nbsp;&nbsp;<span class="text-mute small"><%= Time.now.strftime('%b, %e') %>.</span></h5>
    <%= render @conversations %>
  </div>
  <div class="conversations">
    <h5 class="week">Everything Else</h5>
    <%#= render @conversations.past_convos %>
  </div>
</div>
