<p><%= @comment.user.name %> said:</p>
<blockquote>
<%= @comment.body %>
</blockquote>

<p><%= link_to "Reply to this comment", conversation_url(@comment.conversation, anchor: dom_id(@comment)) %></p>
