<div class="flexed">
  <% @schools.each do |n| %>
  <div class="<%= n.name %>-1">
    <%= link_to n.name, school_path(n) %>
  </div>
  <% end %>
  <div class="ad-space">
    <%= link_to "More Schools Coming.", "#" %>
  </div>
</div>
