/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */


$brand-primary: #2196F3;
$navbar-default-bg: white;
$navbar-default-color: $brand-primary;
$navbar-default-link-color: $brand-primary;

@import "font-awesome";
@import "bootstrap";

////////////////////// @MIXINS ////////////////////////////

@mixin inline-wrapper(){
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  font-size: 0;
  &:after {
    display: inline-block;
    width: 100%;
    content: "";
    font-size: 0;
    line-height: 0;
  }
}

@mixin inline-element($width, $valign, $fontsize){
  display: inline-block;
  width: $width;
  vertical-align: $valign;
  font-size: $fontsize;
}

/////////////////// @STANDARD /////////////////////////////

a,p,h6,h5,h4,h3,h2,h1{
  text-decoration: none;
}

body{
  background: #ffffff;
  margin-top: 70px;
}

.center{
  text-align: center;
  margin: 0 auto;
}

.conversations{
  margin: 0 auto;
  margin-top: 7%;
}

.conversationTopic{
  @include inline-wrapper();
  padding: 25px 0 25px 0;
  .conversationLikes{
    @include inline-element(50px, middle, 1.4rem);
    text-align: center;
  }
  .conversationSubject{
    @include inline-element(calc(100% - 50px), middle, 1.6rem);
    text-align: left;
  }
}

.polls{
  @include inline-wrapper();
  .optionA{
    @include inline-element(49%, middle, 1.6rem);
    text-align: center;
    background-color: $brand-primary;
    color: white;
    padding: 20px 0 20px 0;
    &:hover{
      cursor: pointer;
    }
  }
  .optionB{
    @include inline-element(49%, middle, 1.6rem);
    text-align: center;
    background-color: #42A5F5;
    color: white;
    padding: 20px 0 20px 0;
    &:hover{
      cursor: pointer;
    }
  }
}

.advertisement {
  position: fixed;
  right: 0;
  top: 80px;
  text-align: center;
  border-left: 1px solid rgba(black, 0.05); 
  height: 600px;
}

.comments{
  @include inline-wrapper();
    border-top: 1px solid #EEEEEE;
    padding: 5px;
    .commentPic{
      @include inline-element(50px, top, 1rem);
      text-align: center;
      img{
        border-radius: 50%;
        width: 35px;
      }
    }
    .commentBody{
       @include inline-element(calc(100% - 50px), middle, 1.6rem);
      text-align: left;
    }
    .commentDelete{
      display: none;
    }
    &:last-child{
      border-bottom: none;
    }
    &:hover{
      background: #FAFAFA;
      cursor: pointer;
    }
}


.threads{
  @include inline-wrapper();
  margin: 0 auto;
  padding: 25px;
  border-bottom: 1px solid #EEEEEE;
    &:last-child{
      border-bottom: none;
    }
    .threadLikes{
      @include inline-element(calc(10% - 40px), middle, 1.4rem);
      text-align: center;
    }
    .threadSubject{
      @include inline-element(calc(80% - 40px), middle, 1.4rem);
      text-align: left;
    }
    .threadAvatar{
       @include inline-element(40px, middle, 1.4rem);
      text-align: right;
      img {
        width: 40px;
        border-radius: 50%;
      }
    }
    .threadComments{
       @include inline-element(calc(10% - 40px), middle, 1.4rem);
      text-align: center;
    }
    &:hover{
      background: #FAFAFA;
      cursor: pointer;
    }
}


.commentPic{
  border-radius: 50%;
  height: 35px;
  width: 35px;
}
.postPic{
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.forum_post {
  //border-top: 1px solid #ccc;
  padding: 8px 0px;

  &:target {
    background-color: rgb(248, 238, 199);
    padding: 8px;
    text-decoration: none;
  }
}

//////////////// NAVBAR //////////////////////////////

.navbar{
  -moz-box-shadow:    3px 0px 5px 3px #EEEEEE;
  -webkit-box-shadow: 3px 0px 5px 3px #EEEEEE;
  box-shadow:         3px 0px 5px 3px #EEEEEE;
}
//////////////// MEDIA QUERIES ///////////////////////
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

  .advertisement {
    margin-top: 25px;
    text-align: center;
    border-top: 1px solid rgba(black, 0.05); 
  }

}