/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */


$brand-primary: #2196F3;
$navbar-default-bg: white;
$navbar-default-color: $brand-primary;
$navbar-default-link-color: $brand-primary;
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import "font-awesome";
@import "bootstrap";

////////////////////// @MIXINS ////////////////////////////

@mixin inline-wrapper(){
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  font-size: 0;
  &:after {
    display: inline-block;
    width: 100%;
    content: "";
    font-size: 0;
    line-height: 0;
  }
}

@mixin inline-element($width, $valign, $fontsize){
  display: inline-block;
  width: $width;
  vertical-align: $valign;
  font-size: $fontsize;
}

/////////////////// @STANDARD /////////////////////////////

a,p,h6,h5,h4,h3,h2,h1,label{
  font-family: Roboto, sans-serif;
  text-decoration: none;
}

body{
  background: #ffffff;
  margin-top: 70px;
}

.center{
  text-align: center;
  margin: 0 auto;
}


input[type="radio"]{
  display: none;
}

.author{
  margin: 20px 0px;
}


.active{
  display: none;
}

.conversations{
  margin: 0 auto;
  margin-top: 2%;
}

.week{
  padding: 5px;
  font-family: Roboto, sans-serif;
  font-style: 700;
  border-bottom: 1px solid #EEEEEE;
}


.conversationTopic{
  @include inline-wrapper();
  padding: 25px 0px 10px 0px;
  .conversationLikes{
    @include inline-element(40px, middle, 1.6rem);
    text-align: center;
    margin-top: 18px;
  }
  .conversationSubject{
    @include inline-element(calc(100% - 40px), middle, 1.6rem);
    text-align: left;
  }
}

.polls{
  @include inline-wrapper();
  .optionA{
    @include inline-element(49%, middle, 1.6rem);
      text-align: center;
      background-color: $brand-primary;
      color: white;
      padding: 20px 0 20px 0;
      &:hover{
        cursor: pointer;
      }
  }
  .optionB{
    @include inline-element(49%, middle, 1.6rem);
    text-align: center;
    background-color: #42A5F5;
    color: white;
    padding: 20px 0 20px 0;
    &:hover{
      cursor: pointer;
    }
  }
}

.results{
  @include inline-wrapper();
  .resultOne{
    @include inline-element(49%, middle, 1.6rem);
      position: relative;
      text-align: center;
      background-color: $brand-primary;
      color: white;
      padding: 20px 0 20px 0;
      & span{
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 1.2rem;
        font-weight: 700;
      }
  }
  .resultTwo{
    @include inline-element(49%, middle, 1.6rem);
    position: relative;
    text-align: center;
    background-color: #42A5F5;
    color: white;
    padding: 20px 0 20px 0;
    & span{
      position: absolute;
      top: 5px;
      left: 5px;
      font-size: 1.2rem;
      font-weight: 700;
    }
  }
  .resultTotal{
    @include inline-element(100%, middle, 1rem);
    text-align: right;
    margin-top: 5px;
  }
}

.advertisement {
  position: fixed;
  right: 0;
  top: 80px;
  text-align: center;
  border-left: 1px solid rgba(black, 0.05); 
  height: 600px;
}

.comments{
  @include inline-wrapper();
    border-top: 1px solid #EEEEEE;
    padding: 5px;
    .commentPic{
      @include inline-element(50px, top, 1rem);
      text-align: center;
      img{
        border-radius: 50%;
        width: 35px;
      }
    }
    .commentBody{
       @include inline-element(calc(100% - 100px), middle, 1.6rem);
      text-align: left;
    }
    &:hover{
      background: #FAFAFA;
      cursor: pointer;
      .commentDelete{
        @include inline-element(50px, middle, 1.6rem);
        text-align: center;
        color: red;
      }
    }
}


.threads{
  @include inline-wrapper();
  margin: 0 auto;
  padding: 25px;
  border-bottom: 1px solid #EEEEEE;
    .threadLikes{
      @include inline-element(calc(10% - 45px), middle, 1.4rem);
      text-align: center;
    }
    .threadSubject{
      @include inline-element(calc(80% - 45px), middle, 1.4rem);
      text-align: left;
    }
    .threadAvatar{
      @include inline-element(40px, middle, 1.4rem);
      text-align: right;
      img {
        width: 40px;
        border-radius: 50%;
      }
    }
    .threadComments{
      @include inline-element(calc(10% - 45px), middle, 1.4rem);
      text-align: right;
    }
    .threadDelete{
      @include inline-element(5px, middle, 1.4rem);
      text-align: right;
    }
    &:hover{
      background: #FAFAFA;
      cursor: pointer;
    }
    &:last-child{
      border-bottom: none;
    }
}


.commentPic{
  border-radius: 50%;
  height: 35px;
  width: 35px;
}
.postPic{
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.forum_post {
  //border-top: 1px solid #ccc;
  padding: 8px 0px;

  &:target {
    background-color: rgb(248, 238, 199);
    padding: 8px;
    text-decoration: none;
  }
}

//////////////// NAVBAR //////////////////////////////


* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100vh;
  background-color: #222;
  color: #fff;
  overflow: hidden;
  transition: width .3s ease-in-out;
  box-shadow: 0 0 10px #000;
  z-index: 100;
  &:hover {
    width: 200px;
    .main-nav {
      ul {
        li {
          a {
            opacity: 1;
            left: 0;
            transition-delay: .2s;
          }
        }
      }
    }
  }
  .main-nav {
    ul {
      li {
        min-height: 50px;
        //line-height: 30px;
        position: relative;
        border-bottom: 1px solid #333;
        transition: all .3s ease-in-out;
        &.logo {
          margin-bottom: 50px;
          a {
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 800;
          }
          span {
            &:before {
              color: #fff;
              font-size: 1.5em;
            }
          }
          &+li {
            border-top: 1px solid #333;
          }
        }
        &.newConvo {
          margin-bottom: 50px;
          a {
            text-decoration: none;
            font-weight: 800;
          }
          span {
            &:before {
              color: #fff;
              font-size: 1.5em;
            }
          }
          &+li {
            border-top: 1px solid #333;
          }
        }
        a {
          display: block;
          padding-left: 50px;
          position: relative;
          left: 15px;
          top: 16px;
          opacity: 0;
          transition: all .3s ease-in-out;
          transition-delay: 0s;
          text-decoration: none;
          cursor: pointer;
          font-weight: 300;
        }
        span {
          position: absolute;
          width: 50px;
          height: 50px;
          top: 16px;
          left: 0;
          text-align: center;
          &:before {
            font-size: 1.25em;
            transition: all .3s ease-in-out;
          }
        }
        &:hover {
          background-color: #111;
          span {
            &:before {
              color: $brand-primary;
            }
          }
        }
      }
    }
  }
}



.navbar{
  -moz-box-shadow:    3px 0px 5px 3px #EEEEEE;
  -webkit-box-shadow: 3px 0px 5px 3px #EEEEEE;
  box-shadow:         3px 0px 5px 3px #EEEEEE;
}
//////////////// MEDIA QUERIES ///////////////////////
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

  .advertisement {
    margin-top: 25px;
    text-align: center;
    border-top: 1px solid rgba(black, 0.05); 
  }

}