<p>Hello, <%= @resource.email %>.</p>

<p>Your friend, <strong><%= @user.invited_by.name %></strong> invited you to sportsbanter.co </p>


<button class="btn btn-primary btn-block"><%= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token), class: "btn btn-primary" %></button>


<p>Banter is good old-fashioned water cooler conversations centered around your schools sports teams.</p>



<small><%= t("devise.mailer.invitation_instructions.ignore").html_safe %></small>